﻿<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="font-family: Arial !important;">
    <header style="padding: 1.5rem 0; background-color:#222; text-align: center;">
        <p style="color: white; font-size: 1.6rem; text-transform: uppercase; font-weight: 900;">
            <span>Auto</span><span style="color: #d81324;">shop</span>
        </p>
    </header>
    <div style="color: black; padding: 1rem 0;">
        @RenderBody()
    </div>
    <footer style="width: 100%; padding: 0 !important; height: 35px; background-color:#222;">
    </footer>
</body>
</html>
