﻿@model string
@{
    Layout = "Mail/_MailLayout";
   
}
<div style="text-align: center; padding: 2rem 0 0;">
   <h5 style="font-size: 1.5rem; font-weight: bold; text-transform: uppercase; margin-bottom: 2rem;">Please confirm your email:</h5>
   <a href="@Model" style="padding: 1rem 2rem; color: white; font-weight: bold; text-transform: uppercase; text-decoration:none; background-color:#d81324;">Confirm email</a>
</div>
