﻿@model IEnumerable<Web.Mediator.Arguments.BuyRequestArguments>
@{
    Layout = "Mail/_MailLayout";
}
<table border="0" cellspacing="0" cellpadding="6" style="margin: 0 auto; font-size: 1.2rem; border-collapse: collapse;">
    <tr>
        <th>Model</th>
        <th>Mark</th>
        <th>Count</th>
        <th>Price</th>
    <tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Model</td>
            <td>@item.Mark</td>
            <td>@item.Count</td>
            <td>@item.Price</td>
        </tr>
    }
</table>