﻿@model IEnumerable<Shared.StorageConfiguration>
@{
    ViewData["Title"] = "Shops";
}

@section Styles {
<link rel="stylesheet" href="~/css/contact.css" />
}

@*Banner start*@
<section class="section-banner banner-image">
    <div class="mx-auto text-center col-12 col-md-10 col-lg-8">
        <h1 class="title text-white">New York</h1>
        <h1 class="subtitle text-grey">Offices</h1>
    </div>
</section>
@*Banner start*@

@*Offices list start*@
<section>
    <div class="container">
        <div class="row mx-auto pt-4">
            @foreach (var item in Model)
            {

                @*Office card start*@
                <div class="col-12 col-md-4 mb-3">
                    <div class="inner-card p-3  text-center fw-bold shop-card">
                        <h3 class="lg-font text-uppercase fw-bolder">@item.Office office</h3>
                        <div class="link-danger text-uppercase fw-bold mb-3" style="cursor: pointer !important;">
                            <i class="fa fa-map-marker me-2"></i>@item.Office office
                        </div>
                        <div class="advantages-row">
                            <div class="working-time">
                                <i class="bi bi-clock"></i>
                                <p class="wide-text-overflow">Mon — Fri: 8am to 8pm</p>
                                <p>Sat: 8am to 6pm</p>
                            </div>
                            <div>
                                <i class="bi bi-telephone-fill"></i>
                                <p>+1 23 02 19 2022</p>
                            </div>
                            <div>
                                <i class="bi bi-envelope-open-fill"></i>
                                <p>lpglobalteam@mail.ru</p>
                            </div>
                        </div>
                    </div>
                </div>
                @*Office card end*@

            }
        </div>

        @*Map start*@
        <div class="inner-card mx-2 mt-2">
            <div class="p-0" style="height:400px; width:100%; display:inline-block; overflow:hidden;">
                <iframe src="https://www.google.com/maps/d/embed?mid=1P78_lzCseghnrGMMStXYLRS8O_xJGWaW&ehbc=2E312F" height="445" style="width: 100%; position:relative; top:-55px; border:none;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        @*Map end*@

    </div>
</section>
@*Offices list end*@

