﻿@model Web.ViewModels.AddFormViewModel

<div class="modal fade" id="ad" tabindex="-1" aria-labelledby="ad" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel">Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="Add" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <input type="hidden" asp-for="Mark"/>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Model</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Model" asp-for="Model"/>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Count</label>
                            <input class="form-control" id="formGroupExampleInput" placeholder="0" asp-for="Count" type="number" min="0"/>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Price</label>
                            <input class="form-control" id="formGroupExampleInput" placeholder="0" asp-for="Price" type="number" min="0"/>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Year</label>
                            <input class="form-control" id="formGroupExampleInput" placeholder="2022" asp-for="Year" type="number" min="1990" max="2023"/>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Description</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Description" asp-for="Description"/>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Body</label>
                            <select class="form-control" asp-items="Model.Bodies.Select(el => new SelectListItem(el.Name, el.Id.ToString()))" asp-for="Body.Id"></select>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Engine Type</label>
                            <select asp-items="Model.EngineTypes.Select(el => new SelectListItem(el.Name, el.Id.ToString()))" type="text" class="form-control" id="formGroupExampleInput" placeholder="Type" asp-for="Engine.Type.Id">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Engine Capacity</label>
                            <input type="number" min="0" step=".1" class="form-control" id="formGroupExampleInput" placeholder="Capacity" asp-for="Engine.Capacity"/>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Drive Unit</label>
                            <select asp-items="Model.DriveUnits.Select(el => new SelectListItem(el.Name, el.Id.ToString()))" type="text" class="form-control" id="formGroupExampleInput" asp-for="DriveUnit.Id">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Transmission</label>
                            <select asp-items="Model.Transmissions.Select(el => new SelectListItem(el.Name, el.Id.ToString()))" class="form-control" id="formGroupExampleInput" asp-for="Transmission.Id">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Color</label>
                            <input type="color" asp-for="Color" asp-rgb-color="Model.Color"/>
                        </div>
                        <label>
                            Photo:
                            <div>
                                <img id="#car-add-image" width="100" height="100"/>
                            </div>
                            <div class="mb-3">
                              <input class="form-control form-control-sm" id="formFileSm" accept="image/*" type="file" asp-for="Image" onchange="document.getElementById('#car-add-image').src = window.URL.createObjectURL(this.files[0])"/>
                            </div>
                        </label>
                        <br/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-edit" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Confirm</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>