﻿@{
    ViewData["Title"] = "About";
    ViewData["NavType"] = "nav-container-transparent";
}

@section Styles {
<link rel="stylesheet" href="~/css/about.css" />
}

<section class="section-banner banner-image">
    <div class="mx-auto text-center col-12 col-md-10 col-lg-8 p-5">
        <h1 class="subtitle text-grey">are you looking</h1>
        <h1 class="title text-white">FOR A COOL CAR?</h1>
        <p class="banner-description text-grey">Autoshop is a prestigious car supermarket. We offer a friendly and efficient service for the purchase and repair of vehicles.</p>
        <a asp-controller="Cars" asp-action="Index" class="btn btn-danger bold-on-hover fw-bold text-capitalize px-5">Find your vehicle</a>
    </div>
</section>
<section class="about-info">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 col-xl-4 order-2 order-xl-1 px-4 px-xl-0 pe-xl-5 pt-xl-4 pt-4 pt-0">
                <div class="support-form inner-card">
                    <h3 class="support-form-header text-uppercase fw-bold p-4">Send a question</h3>
                    <form class="form-group px-4 py-3">
                        <input class="form-control" type="text" placeholder="Your Name"/>
                        <input class="form-control" type="email" placeholder="Your Email"/>
                        <input class="form-control" type="text" placeholder="Your Subject"/>
                        <textarea class="form-control" cols=40 rows=10 placeholder="Your question" aria-invalid="false" style="resize: none;"></textarea>
                        <input class="form-control btn btn-danger fw-bold" type="submit" value="Send"/>
                    </form>
                </div>
            </div>
            <div class="col-12 col-xl-8 order-1 order-xl-2 pt-4">
                 <div class="about-us py-4  px-4">
                    <h4 class="text-uppercase pt-4 text-danger fw-bolder">Our vision</h4>
                    <h2 class="fw-bold pt-2">Our vision is to be the favourite automotive retailer</h2>
                    <p class="text-justify about-us-description">That doesn't just mean you'll get the best experience when you buy a car from us, but when servicing, maintaining and selling your car, too.</p>
                    <p class="text-justify about-us-description">We believe every part of your car ownership experience should be as tranquil as possible. We'll empower you to make the right decision for you with helpful advice, total transparency and service that's flexible to your needs about us car store.</p>
                    <div class="row advantages-row d-flex justify-content-center pt-4">
                        <div class="col-12 col-md-3 inner-card text-uppercase mx-3"><i class="advantage-icon bi bi-person-lines-fill"></i><h5>best consultants</h5></div>
                        <div class="col-12 col-md-3 inner-card text-uppercase mx-3"><i class="advantage-icon bi bi-coin"></i><h5>affordable prices</h5></div>
                        <div class="col-12 col-md-3 inner-card text-uppercase mx-3"><i class="advantage-icon fa fa-car py-3"></i><h5>wide variety</h5></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>