﻿@model Model.Office.CarProduct

@{
    ViewData["Title"] = Model.Subject.Model;
}

@section Styles {
<link rel="stylesheet" href="~/css/car-details.css" />
}

<section>
    <div class="row container mx-auto pt-4">
        <div class="col-12 col-md-8 px-0 px-md-4">
            <div class="image-container ratio mb-2" style="--bs-aspect-ratio: 60%;">
                <img asp-byte-image="Model?.Image" asp-fallback-src="@Url.Content("~/img/no-image-found.png")" alt="Car image" />
            </div>
            <div class="row">
                <div class="col-12 col-md-6 d-none d-md-block">
                    <div class="image-container ratio pb-1" style="--bs-aspect-ratio: 60%;">
                        <img asp-byte-image="Model?.Image" asp-fallback-src="@Url.Content("~/img/no-image-found.png")" alt="Car image" />
                    </div>
                </div>
                <div class="col-12 col-md-6 d-none d-md-block">
                    <div class="image-container ratio pb-1" style="--bs-aspect-ratio: 60%;">
                        <img asp-byte-image="Model?.Image" asp-fallback-src="@Url.Content("~/img/no-image-found.png")" alt="Car image" />
                    </div>
                </div>
            </div>
            <div class="py-3 mb-4 d-none d-md-block ">
                <h4 class="fw-bold mb-1">Description</h4>
                <p class="text-justify">@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
        <div class="widget-col col-12 col-md-4 px-0 ">
            <div class="inner-card">
                <h3 class="widget-title  text-uppercase fw-bold">@Html.DisplayFor(model => model.Name)</h3>
                <div class="widget-text text-capitalize">
                    <ul class="mb-2">
                        <li>Brand: @Html.DisplayFor(model => model.Subject.Mark)</li>
                        <li>Model: @Html.DisplayFor(model => model.Subject.Model)</li>
                        <li>Year: @Html.DisplayFor(model => model.Subject.Year)</li>
                    </ul>
                    <h2 class="price mb-3">Price: @Html.DisplayFor(model => model.Price)</h2>
                    @using (Html.BeginForm("Add", "Cart", FormMethod.Post))
                    {
                        <div class="col pt-1 d-grid">
                                <input type="submit" value="Buy" class="btn btn-danger fw-bold text-uppercase p-2"
                                @if(Model?.Count <= 0)
                                {
                                @:disabled="disabled"
                                } />
                        </div>
                    }

                </div>
            </div>

            <div class="inner-card">
                <h4 class="widget-title text-uppercase fw-bold">Auto Features</h4>
                <div class="widget-text text-capitalize">
                    <ul class="mb-2">
                        <li>Engine: @Html.DisplayTextFor(model => model.Subject.Engine)</li>
                        <li>Body: @Html.DisplayTextFor(model => model.Subject.Body)</li>
                        <li>Transmission: @Html.DisplayTextFor(model => model.Subject.Transmission)</li>
                        <li>Drive unit: @Html.DisplayTextFor(model => model.Subject.DriveUnit)</li>
                        @*TODO: color selector or just color output*@
                    </ul>
                </div>
            </div>


            <div class="inner-card">
                <div class="widget-text text-capitalize  wide-text-overflow">
                    <h5 class="text-danger text-uppercase fw-bold" style="font-size: .9rem;">
                        @if (Model.Count > 0)
                        {
                            <i class="fa fa-check text-danger">&nbsp;</i>
                            @:The car is in stock
                        }
                        else
                        {
                            <i class="fa fa-times text-danger">&nbsp;</i>
                            @:The car is out of stock!
                        }
                    </h5>
                    <div>
                        <a class="link-danger text-uppercase fw-bold" asp-controller="Shops" asp-action="Index">
                            <i class="fa fa-map-marker me-2"></i>@Html.DisplayTextFor(model => model.Subject.Mark) office
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-3 mb-4 d-block d-md-none">
                <h4 class="fw-bold mb-1">Description</h4>
                <p class="text-justify">@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
    </div>
</section>
