﻿@model Web.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Cars";
}

@section Styles {
    <link rel="stylesheet" href="~/css/car-catalog.css" />
}

@section Scripts {
    <script src="~/js/page-loader.js"></script>
    <script src="~/js/car-catalog.js"></script>
}
<div id="loader" class="loader"><span></span></div>
<div id="catalog" class="container mx-auto pt-2"></div>
