﻿@model Web.Models.Security.EmailConfirmationResult
@{
    ViewData["Title"] = "Error";
}

@section Styles {
<link rel="stylesheet" href="~/css/confirm.css" />
}

<div class="container py-3">
    <div class="col-12 col-md-8 mx-auto p-4 inner-card confirm-card text-center ">
        <div class="message-block">
            <i class="bi bi-x-circle"></i>
            <h4>Login error</h4>
            <p>To sign in, you must first confirm your email</p>
        </div>
        <div class="actions-block">
            <a class="btn btn-danger btn-home-page" asp-controller="Home" asp-action="Index">Return to homepage</a>
        </div>
    </div>
</div>