﻿@model Web.Models.Security.EmailConfirmationResult
@{
}

@section Styles {
<link rel="stylesheet" href="~/css/confirm.css" />
}

<div class="container py-3">
    <div class="col-12 col-md-8 mx-auto p-4 inner-card confirm-card text-center ">
        <div class="message-block">
            @if (Model.IsSuccessful)
            {
                ViewData["Title"] = "Confirmed";
                <i class="bi bi-check-circle"></i>
                <h4>Thank you!</h4>
                <p>Your email address is confirmed</p>
            }
            else
            {
                ViewData["Title"] = "Error";
                <i class="bi bi-x-circle"></i>
                <h4>Confirmation error</h4>
                <p>Reason: @Model.FailureReason</p>
            }
        </div>
        <div class="actions-block">
            <a class="btn btn-danger btn-home-page" asp-controller="Home" asp-action="Index">Return to homepage</a>
        </div>
    </div>
</div>