﻿@model Web.Mediator.Arguments.LoginRequestArguments
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Sign in";
}

<h2 class="title">Sign in</h2>

<form asp-controller="Account" asp-action="Login" method="post">

<div class="controls">
    @*Email control start*@
    <div class="control-block">
        <input asp-for="Email" type="email" id="email-control" autocomplete="off" placeholder="Email" class="form-control icon-mail"/>
        <span asp-validation-for="Email"></span>
    </div>
    @*Email control end*@

    @*Passwords controls start*@
    <div class="control-block">
        <input asp-for="Password" type="password" id="password-control" placeholder="Password" class="form-control icon-key"/>
        <span asp-validation-for="Password"></span>
    </div>
    @*Passwords controls end*@
</div>

<button class="btn btn-outline-light btn-login" type="submit">Sign in</button>
</form>
<div class="alternative">
    <p>New to AutoShop? <a class="fw-bold white-link text-decoration-underline" asp-controller="Account" asp-action="Register">Create an account?</a></p>
</div>
