﻿@model Web.Models.Security.RegistrationResult
@section Styles {
<link rel="stylesheet" href="~/css/confirm.css" />
}

<div class="container py-3">
    <div class="col-12 col-md-8 mx-auto p-4 inner-card confirm-card text-center ">
        <div class="message-block">
            @if (Model.IsSuccessful)
            {
                ViewData["Title"] = "Confirm your email";
                <i class="bi bi-envelope-exclamation-fill"></i>
                <h4>Check your email!</h4>
                <p>We have sent an email to <span class="highlight-text">@Model?.User?.Email</span>. Please ensure to check spam box incase you can't find it in your inbox.</p>
            }
            else
            {
                ViewData["Title"] = "Error";
                <i class="bi bi-x-circle"></i>
                <h4>Registration error</h4>
                <p>Reason: @Model.FailureReason</p>
            }
        </div>
        <div class="actions-block">
            <a class="btn btn-danger btn-home-page" asp-controller="Home" asp-action="Index">Return to homepage</a>
        </div>
    </div>
</div>