﻿@model Web.Mediator.Arguments.RegisterRequestArguments
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Sign up";
}

<h2 class="title">Sign up</h2>
<form asp-controller="Account" asp-action="Register" method="post">

<div class="controls">
@*Email control start*@
    <div class="control-block">
        <input asp-for="Email" type="email" id="email-control" autocomplete="off" placeholder="Email" class="form-control icon-mail" />
        <span asp-validation-for="Email"></span>
    </div>
    @*Email control end*@

    @*Passwords controls start*@
    <div class="control-block">
        <input asp-for="Password" type="password" id="password-control" placeholder="Password" class="form-control icon-key" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="control-block">
        <input asp-for="RepeatPassword" type="password" id="repeat-password-control" placeholder="Repeat password" class="form-control icon-key" />
        <span asp-validation-for="RepeatPassword"></span>
    </div>
    @*Passwords controls end*@
</div>

<button id="submit-button" class="btn btn-outline-light btn-login" type="submit">Sign up</button>
</form>
<div class="alternative">
    <p>Already have an account? <a asp-controller="Account" asp-action="Login">Sign in</a></p>
</div>
