﻿@model bool
@section Styles {
<link rel="stylesheet" href="~/css/confirm.css" />
}

<div class="container py-3">
    <div class="col-12 col-md-8 mx-auto p-4 inner-card confirm-card text-center ">
        <div class="message-block">
            @if (Model)
            {
                ViewData["Title"] = "Successfully";
                <i class="bi bi-check-circle"></i>
                <h4>Your order is accepted!</h4>
                <p>You will be contacted shortly</p>
            }
            else
            {
                ViewData["Title"] = "Error";
                <i class="bi bi-x-circle"></i>
                <h4>Something went wrong!</h4>
                <p>Try to repeat the order</p>
            }
        </div>
        <div class="actions-block">
            <a class="btn btn-danger btn-home-page" asp-controller="Home" asp-action="Index">Return to homepage</a>
        </div>
    </div>
</div>