﻿@model Web.ViewModels.CartViewModel
@{
    ViewData["Title"] = "Cart";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cart.css" />
}
    <div class="container py-3">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="bg-white">
                <div class="row">
                    @*Go to shop link start*@
                    <div class="pt-5 ">
                        <h6 class="mb-0 pt-2 ps-5">
                            <a asp-controller="Cars" asp-action="Index" class="text-body">
                                <span class="link-danger"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</span>
                            </a>
                        </h6>
                    </div>
                    @*Go to shop link end*@

                    <div class="col-lg-8 pb-2">
                        <div class="px-5 pt-3 pb-2">

                            @*Cart items table head start*@
                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <h2 class="fw-bold mb-0 text-black">Shopping Cart</h2>
                                <h4 class="mb-0 text-muted">@Html.DisplayFor(model => model.Count) items</h4>
                            </div>
                            <hr class="my-4">
                            @*Cart items table head end*@

                            @*Cart items start*@
                            @if (Model != null)
                                @foreach (var item in Model.Products)
                                {
                                    @await Html.PartialAsync("Partials/_CartItem", item)
                                    
                                }
                            @*Cart items end*@
                        </div>
                    </div>

                    @*Purchase information start*@
                    <div class="col-lg-4 bg-grey">
                        <div class="row p-5 pt-2">
                            <h2 class="fw-bold mb-4 mt-2">Summary</h2>
                            <hr class="my-4">
                            <div class="d-flex justify-content-between mb-2">
                                <h5 class="text-uppercase">Total price</h5>
                                <h5 id="total">@Html.DisplayFor(model => model.TotalPrice)</h5>
                                <script>
                                    var totalPrice = @Model.TotalPrice;
                                </script>
                            </div>
                        @using (Html.BeginForm("Confirm", "Cart", FormMethod.Post)){
                            <button type="submit" class="btn btn-danger fw-bold" style="width: 100%;">Confirm</button>
                        }
                        </div>
                    </div>
                    @*Purchase information end*@

                </div>
            </div>
        </div>
    </div>
@section Scripts {
    <script src="~/js/cart.js"></script>
}