﻿@model Web.ViewModels.AdminPanelViewModel
<table class="darkTable table-striped w-100">
    <tr>
        <td class="py-4" colspan="4">
            <h3 class="text-uppercase fw-bold widget-title d-inline">
                @Model.OfficeName
            </h3>
            <button type="button" class="btn btn-danger btn-edit" onclick="load_partial('@Url.ActionLink("Add", "Admin", new {mark = Model.OfficeName})', '#edit-form-container')">
                <h5 class="mx-0">Add</h5>
            </button>
        </td>
    </tr>
    <tr class="text-uppercase fw-bold">
        <th><h5>Model</h5></th>
        <th><h5>Price</h5></th>
        <th><h5>Count</h5></th>
        <th><h5 class="text-center">Action</h5></th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr class="info-row">
            <td>@product.Subject.Model</td>
            <td>@product.Price</td>
            <td>@product.Count</td>
            <td>
                <div class="row d-flex justify-content-around action ">
                    <button type="button" class="btn btn-danger btn-edit d-block col-6" onclick="load_partial('@Url.ActionLink("Edit", "Admin", new {mark = product.Subject.Mark, model = product.Subject.Model})', '#edit-form-container')">Edit</button>
                    <button class="btn btn-danger d-block col-6" style="font-size: .8rem;" asp-method="Delete" asp-controller="Admin" asp-action="Delete" asp-route-mark="@product.Subject.Mark" , asp-route-model="@product.Subject.Model">Delete</button>
                </div>
            </td>
        </tr>
    }
</table>