﻿@model Model.Office.CarProduct

@functions {
    private string CreateIdFromProductName(string name)
    {
        return $"{name.Replace(' ', '-')}";
    }
}

<div class="row mb-4 d-flex justify-content-between">
    @*Product image start*@
    <input type="hidden" asp-for="@Model.Subject.Model">
    <input type="hidden" asp-for="@Model.Subject.Mark">
    <input type="hidden" asp-for="@Model.Price">
    <div class="col-12 col-md-3">
        <a asp-controller="Cars" asp-action="CarDetails" asp-route-model="@Html.DisplayTextFor(model => model.Subject.Model)" asp-route-mark="@Html.DisplayTextFor(model => model.Subject.Mark)">
            <div class="image-container ratio pb-1" style="--bs-aspect-ratio: 60%;">
                <img asp-byte-image="Model?.Image" asp-fallback-src="@Url.Content("~/img/no-image-found.png")" alt="Car image" />
            </div>
        </a>
    </div>
    @*Product image end*@

    @*Product name start*@
    <div class="col-12 col-md-5 pt-2 pt-md-0 text-center align-middle">
        <a asp-controller="Cars" asp-action="CarDetails" asp-route-model="@Html.DisplayTextFor(model => model.Subject.Model)" asp-route-mark="@Html.DisplayTextFor(model => model.Subject.Mark)">
            <h5 class="text-uppercase link-danger fw-bold" style="text-decoration: none;">@Html.DisplayFor(model => model.Name)</h5>
        </a>
    </div>
    @*Product name end*@

    

    <div class="col-12 col-md-3 text-center">
        <h5 class="fw-bold">@Html.DisplayFor(model => model.Price)</h5>
@*        <div class="row counter">
            <div class="col-4 col-md-4 p-1"> 
                <button type="button" class="btn btn-danger w-100" onclick="inputEdit(@Model.Price, '+', '@CreateIdFromProductName(@Model.Name)')">+</button>
            </div>
            <div class="col-4 col-md-4 p-1"> 
                <input readonly asp-for="@Model.Count" class="cinput w-100 pb-2 text-center" id=@CreateIdFromProductName(@Model.Name) type="number" min="1" value="@Model.Count"/>
            </div>
            <div class="col-4 col-md-4 p-1"> 
                <button type="button" class="btn btn-danger w-100" onclick="inputEdit(@Model.Price, '-', '@CreateIdFromProductName(@Model.Name)')">-</button>
            </div>
        </div>*@
    </div>

   @*Remove cart item button start*@
    <div class="col-md-1 col-lg-1 col-xl-1 pb-3 order-first order-md-2 text-end">
        <a asp-controller="Cart" asp-action="Delete" asp-route-model=@Model.Subject.Model asp-route-mark=@Model.Subject.Mark class="link-danger" style="font-size: 1.5rem; vertical-align: top;"><i class="fas fa-times"></i></a>
    </div>
    @*Remove cart item button end*@
    
</div>
<hr class="mt-4">

