﻿@model Web.ViewModels.ErrorViewModel
@{
    Layout = null;
    ViewData["Title"] = $"Error {Model.Code}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Head")
    <link rel="stylesheet" href="~/css/user-layout.css" />
    <link rel="stylesheet" href="~/css/error.css" />

    <style>

    </style>

</head>
<body class="d-flex flex-column">
    <div id="page-content">
        <main class="p-0">
            <div id="notfound" class="text-center">
                <div class="notfound">
                    <div class="notfound-404 text-black-50">
                        <h1>@Model.Code</h1>
                    </div>
                    <h5 class="mb-4">Error @Model.Code – @Model.Title</h5>
                    <h5 class="mb-4">@Model.Description</h5>
                    <p></p>
                    <a class="btn btn-danger fw-bold px-3 py-2" asp-controller="Home" asp-action="Index">Back To Homepage</a>
                </div>
            </div>
        </main>
    </div>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
