﻿@model Web.ViewModels.PageViewModel

@functions{
    void OutPageButton(int pageNumber)
    {
        string active = pageNumber == Model.PageNumber ? "active" : "";
        <li class="page-item @active">
            <button class="page-link @active" value="@pageNumber">@pageNumber</button>
        </li>
    }

    void OutRangeBlock()
    {
        <li class="page-item">
            <span class="page-link page-link-nohover">...</span>
        </li>
    }

    void OutMiddleBlock(int startPage)
    {
        for(var pageNumber = startPage;
        pageNumber < startPage + Model.MiddleBlockSize && pageNumber < Model.TotalPages;
        pageNumber++)
        {

            OutPageButton(pageNumber);
        }
    }
}


@*Show pagination?*@
@if (Model.TotalPages > 1 && Model?.EnablePagination == true)
{
    int startPage = Model.PageNumber - Model.MiddleBlockSize / 2;
    <nav>
        <ul id="pagination" class="pagination d-flex justify-content-center flex-wrap pagination-success">
            @*First page button*@
            @{OutPageButton(1);}

            @*Hided pages symbol*@
            @if(Model.ShowStartRange) 
            {
                OutRangeBlock();

                startPage = Model.TotalPages - Model.MiddleBlockSize;
                if(startPage < Model.HalfMiddleBlockSize)
                {
                    startPage = Model.HalfMiddleBlockSize;
                }
            }   
            else
            {
                startPage = 2;
            }

            @*Middle pages buttons*@
            @if(Model.ShowStartRange && Model.ShowEndRange)
            {
                startPage = Model.PageNumber - Model.MiddleBlockSize / 2;
            }

            @{OutMiddleBlock(startPage);}


            @*Hided pages symbol*@
            @if(Model.ShowEndRange) 
            {
                OutRangeBlock();
            }

            @*Last page button*@
            @{OutPageButton(Model.TotalPages);}

        </ul>
    </nav>
}