﻿@{
    ViewData["Title"] = "Home";
    ViewData["NavType"] = "nav-container-transparent";
}

@section Styles {
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/car-catalog.css" />
}

@section Scripts {
<script src="~/js/page-loader.js"></script>
<script src="~/js/best-offers.js"></script>
}

<!-- Banner start -->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <a class="carousel-item active carousel-item-1 text-center" style="display:block;" asp-controller="Cars" asp-action="CarDetails" asp-route-mark="bmw" asp-route-model="X6 F16">
            <div class="row col-8 mx-auto" style="z-index: 100;">
                <div class="col-12">
                    <h2 class="text-uppercase title">BMW X6</h2>

                </div>
                <div class="col-12 subtitle">
                    <h3>BMW X6 — compartment without rules "coupe with off-road manners"</h3>
                </div>
            </div>
        </a>
        <a class="carousel-item carousel-item-2 text-center" style="display:block;" asp-controller="Cars" asp-action="CarDetails" asp-route-mark="audi" asp-route-model="R8">
            <div class="row col-8 mx-auto" style="z-index: 100;">
                <div class="col-12">
                    <h2 class="text-uppercase title">audi R8</h2>
                </div>
                <div class="col-12 subtitle">
                    <h3>He needs everything at once. He does not agree to anything less </h3>
                </div>
            </div>
        </a>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Banner end -->
<!-- Information section start -->

<div class="container px-3 pt-4 pb-2 mb-4">
    <div class="row">
        <div class="col-12 text-uppercase mb-3 text-center text-md-start">
            <h2 class="fw-bold me-md-3" style="font-size: 2rem; display: inline;">Best deals</h2>
        </div>
        <div class="col-12 col-md-6 mx-auto text-uppercase order-2 mt-3 mt-md-2">
            <a class="btn btn-danger text-uppercase w-100 py-3 py-md-2 fw-bold" asp-controller="Cars" asp-action="Index">view more</a>
        </div>
        <div id="catalog" class="order-1"></div>
    </div>
</div>
<!-- Information section end -->
