.section-banner {
  line-height:1.5;
}

@media (min-width:0px) {
  .section-banner {
    padding:3rem 0px;
  }
  .support-form, .about-us {
    margin-top:0;
  }
}

@media (min-width:768px) {
  .section-banner {
    padding:6rem 0px;
  }

}

@media (min-width:992px) {
  .section-banner {
    padding:12rem 0px;
  }
}

@media (min-width:1200px) {
  .section-banner {
    padding:12rem 0px;
  }
  .support-form, .about-us {
    margin-top:-40px;
  }
}
.banner-image {
  background-image:url('../img/pages/about/banner.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50%;
}
.support-form-header {
  width:100%;
  text-align:center;
  color:var(--bs-white);
  background-color:var(--bs-red);
}
.form-control {
  padding:15px 25px;
  border-radius:0;
  margin-bottom:.75rem; 
}
.form-control::placeholder {
  font-size:.9rem;
}
.form-control:focus {
  border:1px solid var(--bs-danger);
}
.about-us-description {
  padding-top:.5rem;
  font-size:1.2rem;
  text-indent:1.5rem;
}
.advantages-row div{
  text-align:center;
  padding:1rem;
}
.advantages-row div {
  margin-bottom:1rem;
  color:var(--bs-body-color);
}
.advantages-row div:hover {
  color:var(--bs-white);
  background-color:var(--bs-red);
}
.advantage-icon {
  font-size:4rem;
}