table td, th {
  width:25%;
}
.info-row:hover {
  background-color:#f0f0f0;
}
.action button {
  width:40%;
  font-weight:bold;
  text-transform:uppercase;
}
.btn-edit {
  border:none;
  background-color:transparent;
  color:var(--bs-red);
}
.btn-edit:hover {
  transition-duration:.5s;
  background-color:transparent;
  border:none;
  text-decoration:underline;
}
