.btn-search-danger:link,
.btn-search-danger:active,
.btn-search-danger:focus,
.btn-search-danger:visited {
  border:none;
  box-shadow:none;
  color:var(--bs-red);
  background-color:rgba(220, 53, 69, .15);
}
.btn-search-danger:hover {
  color:white;
  transition-duration:var(--transition-normal);
  background-color:var(--bs-red);
}
