hr {
  margin:4px 0px;
}
.image {
  padding-top:15px;
  width:100%;
}
.img-sm {
  display:block;
  margin:0 auto;
  max-width:100%;
  max-height:240px;
}
.img-lg {
  display:block;
  margin:0 auto;
  max-width:100%;
  max-height:600px;
}
.properties-block div {
  margin:8px 0;
}
.widget-col .inner-card {
  margin-bottom:1.2rem;
}
.inner-card {
  padding:1.4rem;
}
.widget-title {
  position:relative;
  margin-bottom:15px;
  padding-bottom:15px;
}
.widget-title::before {
  content:'';
  position:absolute;
  bottom:0;
  border:1px solid #D81324;
  width:100%;
}
.widget-text ul li {
  margin-bottom:.2rem;
}
.image-container
{
  display:inline-block;
  overflow:hidden;
}
.image-container img {
  transition:.9s;
  display:block;
}
.image-container img:hover {
  transform:scale(1.1);
}
