.confirm-card i {
  font-size:4rem;
  color:var(--bs-red);
}
.confirm-card h4 {
  margin-bottom:0;
  text-transform:uppercase;
  font-weight:bold;
}
.confirm-card p {
  margin:auto;
  width:80%;
  text-transform:uppercase;
  font-weight:bold;
}
.message-block {
  margin-bottom:3rem;
}
.btn-home-page {
  padding:.6rem 1.2rem;
  text-transform:uppercase;
  font-weight:bold;
}
.highlight-text {
  color:var(--bs-red);
}
