.section-banner {
  padding:3rem 0px;
}

@media (min-width:0px) {
  .support-form, .about-us {
    margin-top:0;
  }
}

@media (min-width:1200px) {
  .support-form, .about-us {
    margin-top:-40px;
  }
}
.banner-image {
  background-image:url('../img/pages/shops/new-york.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50%;
}
.advantages-row div > i {
  font-size:3rem;
  color:var(--bs-red);
}
.advantages-row div {
  margin-bottom:1rem;
}
.working-time p {
  line-height:.9;
  margin:0;
}