* {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
#notfound {
  position:relative;
  height:100vh;
}
#notfound .notfound {
  position:absolute;
  top:30%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
.notfound {
  color:#808080;
}
.notfound .notfound-404 h1 {
  font-size:150px;
  font-weight:700;
}
.notfound h5 {
  font-weight:500;
}
