.carousel-item {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50%;
  cursor:pointer !important;
  color:var(--bs-white);
}
.carousel-item:hover {
  color:var(--bs-white);
}
.carousel-item:before {
  position:absolute;
  z-index:-100;
  top:0;
  right:0;
  bottom:0;
  left:0;
  content:'';
  display:block;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, .7);
}

@media (min-width:0px) {
  .carousel-item {
    padding:10rem 0px;
  }
}

@media (min-width:768px) {
  .carousel-item {
    padding:14rem 0px;
  }
}

@media (min-width:992px) {
  .carousel-item {
    padding:16rem 0px;
  }
}

@media (min-width:1200px) {
  .carousel-item {
    padding:24rem 0px;
  }
}
.carousel-item .title {
  font-size:3rem;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:10px;
}
.carousel-item .subtitle {
  font-size:1.5rem;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:0;
}
.carousel-item-1 {
  background-image:url('../img/pages/home/x6.jpg');
}
.carousel-item-2 {
  background-image:url('../img/pages/home/r8.jpg');
}
