/*Login background start*/
.bg {
  position:fixed;
  z-index:-1;
  top:0;
  right:-50%;
  bottom:0;
  left:-50%;
  animation:slide 3s ease-in-out infinite alternate;
  background-image:linear-gradient(-60deg, #2e2e2e 50%, #363130 50%);
  opacity:.8;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:8s;
}
.bg3 {
  animation-duration:10s;
}
.content {
  position:fixed;
  top:50%;
  left:50%;
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  padding:10vmin;
  text-align:center;
  transform:translate(-50%, -50%);
}
h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*Login background end*/


/*Login form styles start*/
.btn {
  border:1px solid white;
}
.form-label {
  width:100%;
  margin-bottom:0;
}
.hint {
  width:100%;
  color:var(--bs-danger);
}
.icon-mail {
  background:url(/img/icons/login/mail.png) scroll 12px 12px;
}
.icon-key {
  background:url(/img/icons/login/key.png) scroll 12px 12px;
}

/*If we enable autofill*/
/*input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #212529 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
}*/
/*If we enable autofill*/
.form-control,
.form-control:checked,
.form-control:active {
  padding-left:45px;
  background-position-y:center;
  color:var(--bs-white);
  background-repeat:no-repeat;
  background-size:20px;
  background-color:rgba(var(--bs-dark-rgb));
}
.form-control:focus {
  color:var(--bs-white);
  border-color:var(--bs-white);
  background-color:rgba(var(--bs-dark-rgb));
  box-shadow:0px 0px 5px 2px rgba(255, 255, 255, 0.5);
}
.field-validation-error {
  color:var(--bs-red);
}
.field-validation-valid {
  display:none;
}
input.input-validation-error, .input-validation-error:focus {
  border:1px solid var(--bs-red);
  box-shadow:0px 0px 5px 2px rgba(255, 0, 0, 0.5);
}
.validation-summary-errors {
  color:var(--bs-red);
}
.validation-summary-valid {
  display:none;
}
.title {
  color:var(--bs-white);
  font-weight:bold;
  text-transform:uppercase;
  padding-top:.5rem;
  margin-bottom:2rem;
}
.alternative a{
  font-weight:bold;
  color:var(--bs-white);
  text-decoration:underline;
}
.form-logo {
  padding-top:1rem;
  margin-bottom:2rem;
}
.form-tip {
  text-transform:uppercase;
}
.control-block {
  margin-bottom:1rem;
}
.control-block:last-child {
  margin-bottom:3rem;
}
.btn-login {
  width:100%;
  text-transform:uppercase;
  font-weight:bold;
  padding:.5rem .0rem;
  margin-bottom:.75rem;
}

/*Login form styles end*/