﻿:root {
  --transition-normal:.2s;
  --hover-scale:scale(1.25);
  --font-scale:1.25rem;
  --faint-shadow:0px 0px 12px 0px rgb(0 0 0 / 15%);
  --bg-color:#f2f2f2;
  --bs-red:#d81324;
}


/*Fonts start*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.text-grey {
  color:#cdcdcd;
}
/*Fonts end*/
* {
  -webkit-font-smoothing:antialiased;
}
html,
body {
  height:100%;
}
body {
}
#page-content {
  min-height:100%;
  flex:1 0 auto;
}

/*Container start*/
@media (max-width:768px) {
  .container {
    max-width:748px;
  }
}

@media (max-width:992px) {
  .container {
    max-width:960px;
  }
}
.row {
  --bs-gutter-x:.75rem;
}
/*Container end*/

/*Scrollbar start*/
html::-webkit-scrollbar {
  width:10px;
}
html::-webkit-scrollbar-track {
  background-color:var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background:var(--bs-dark);
}
/*Scrollbar end*/

/*Links start*/
a,
a:focus,
a:hover,
a:visited,
a:active {
  text-decoration:none;
  border:none;
}
.link-danger,
.link-danger:focus,
.link-danger:visited,
.link-danger:active {
  color:var(--bs-body-color);
}
.link-danger:hover {
  color:var(--bs-red);
  text-decoration:underline;
}
.white-link,
.white-link:focus,
.white-link:hover,
.white-link:visited,
.white-link:active {
  color:white;
}
/*Links end*/

/*Buttons start*/
.btn {
  border:none;
  border-radius:0;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:visited,
.btn-danger:active {
  border:1px solid var(--bs-red);
  background-color:var(--bs-red);
}
.btn-danger:hover {
  transition:.5s;
  color:var(--bs-red);
  background-color:var(--bs-white);
}
.slide:hover:before {
  width:100%;
}

/*Buttons end*/

/*Inputs start*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*Inputs end*/

/*Fonts start*/
.sm-font {
  font-size:.7rem;
}
.lg-font {
  font-size:1.5rem;
}
.xl-font {
  font-size:2rem;
}
/*Fonts end*/

/*Logo start*/
.logo-link {
  text-transform:uppercase;
  outline:none;
  font-weight:900;
}
.red-logo {
  color:var(--bs-red);
}
/*Logo end*/

/*Image start*/
img {
}
/*Image end*/

/*Text start*/
.text-justify {
  margin:0;
  text-align:justify;
}
.wide-text-overflow {
  width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/*Text end*/

/*Pagination start*/
.page-item {
  margin:0 .375rem;
  box-shadow:var(--faint-shadow);
  color:var(--bs-red);
}
.page-range, page-link {
  padding:.4rem .8rem;
  font-size:1.2rem;
  font-weight:500;
}
.page-link,
.page-link:focus,
.page-link:active,
.page-link:visited {
  color:var(--bs-red);
  background-color:var(--bs-white);
  border:none;
  box-shadow:none;
}
.active {
  cursor:default !important;
}
.page-link:hover {
  color:var(--bs-white);
  background-color:var(--bs-red);
}
.page-link-nohover:hover {
  color:var(--bs-danger);
  background-color:var(--bs-white);
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius:0px;
}
.page-item.active .page-link {
  border:none;
  color:var(--bs-white);
  background-color:var(--bs-red);
}
/*Pagination end*/

/* Common styles start */
.form-control {
  padding:.6rem 1rem;
  border-radius:0;
}
.form-control:focus {
  border-color:var(--bs-red);
  box-shadow:0px 0px 5px 2px rgba(255, 255, 255, 0.5);
}
/* Common styles end */

/*Loader start*/
.loader {
  display:block;
  position:fixed;
  margin:50px auto;
  width:100%;
  z-index:99999;
  height:60px;
  -webkit-animation:loader-1 4.8s linear infinite;
  animation:loader-1 4.8s linear infinite;
}

@-webkit-keyframes loader-1 {
  0% {
    -webkit-transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
  }
}

@keyframes loader-1 {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
.loader span {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:block;
  margin:auto;
  width:60px;
  clip:rect(0, 60px, 60px, 30px);
  -webkit-animation:loader-2 1.2s linear infinite;
  animation:loader-2 1.2s linear infinite;
}

@-webkit-keyframes loader-2 {
  0% {
    -webkit-transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(260deg);
  }
}

@keyframes loader-2 {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(220deg);
  }
}
.loader span::after {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  content:'';
  margin:auto;
  width:60px;
  clip:rect(0, 60px, 60px, 30px);
  border:4px solid var(--bs-red);
  border-radius:50%;
  -webkit-animation:loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  animation:loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-1-3 {
  0% {
    -webkit-transform:rotate(-140deg);
  }
  50% {
    -webkit-transform:rotate(-40deg);
  }
  100% {
    -webkit-transform:rotate(140deg);
  }
}

@keyframes loader-1-3 {
  0% {
    transform:rotate(-140deg);
  }
  50% {
    transform:rotate(-40deg);
  }
  100% {
    transform:rotate(140deg);
  }
}
.load-blur {
  opacity:.7;
}
/*Loader end*/  

/*Cards start*/
.inner-card {
  background-color:var(--bs-white);
  box-shadow:var(--faint-shadow);
}
/*Cards end*/
