﻿:root {
  --white-50:#999;   
}
html {
  overflow-y:scroll;
}

/* Header start */
.section-banner {
  line-height:1.5;
}
.section-banner .title {
  font-size:3rem;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:10px;
}
.section-banner .subtitle {
  font-size:1.5rem;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:0;
}
.section-banner .banner-description {
  font-size:1.4rem;
  line-height:1.5;
}
.nav-link {
  box-sizing:content-box;
  text-align:center;
  font-weight:bold;
  text-transform:uppercase;
  transition:var(--transition-normal);
  color:var(--bs-white) !important;
}
@media (max-width:767px) {
  .nav-item {
    display:table-cell;
    margin:0 auto;
  }
  .nav-link:hover {
    transform:var(--hover-scale);
  }
}
@media (min-width:768px) {
  .nav-link:hover {
    transform:var(--hover-scale);
  }
}
.layout-dark-color {
  background-color:#222;
}

@media (min-width:768px) {
  .nav-container-transparent {
    position:absolute !important;
    width:100%;
    background-color:rgba(0, 0, 0, 0);
    z-index:10000;
  }
}
.navbar-logo,
.navbar-logo:hover {
  font-size:1.4rem;
  padding:0.5rem 0;
  text-decoration:none;
  color:white;
}
.navbar-toggle {
  border:none;
  background:transparent !important;
}
.icon-white {
  color:white;
}
.navbar-toggler {
  font-family:FontAwesome;
  font-style:normal;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline:none;
  box-shadow:none;
  border:none;
}

@media (min-width:768px) and (max-width:992px) {
  .cart-text {
    display:none;
  }
}
.user-btn-container p {
  display:table-cell;
  vertical-align:middle;
}
#user-btn:hover {
  transform:none;
}
#logout-btn {
  background:none;
  border:none;
}

@media (min-width:0px) and (max-width:767px) {
  #user-btn p {
    display:block;
    margin:auto;
    max-width:60vw;
  }
}

@media (min-width:768px) {
  #user-btn p {
    max-width:130px;
  }
}

@media (min-width:992px) {
  #user-btn p {
    max-width:170px;
  }
}

@media (min-width:1200px) {
  #user-btn p {
    max-width:210px;
  }
}

@media (min-width:1400px) {
  #user-btn p {
    max-width:250px;
  }
}

/* Shows the closed menu icon */
.navbar-toggler.collapsed i:before {
  content:'\f0c9';
}

/* Shows the icon of the open menu */
.navbar-toggler i:before {
  content:'\f00d';
}
/* Header end */

/*Footer start*/
footer a, footer p {
  font-weight:500;
  color:white;
}
footer a:hover {
  text-decoration:underline;
  color:white;
}
.footer-header {
  font-weight:500;
  text-transform:uppercase;
}
.socials > li > a {
  padding-right:25px;
  font-size:1.75rem;
  color:var(--white-50);
}

@media (max-width:767px) {
  .socials > li > a {
    padding:0 25px;
    font-size:2.5rem;
  }
}
.socials > li > a:hover {
  color:var(--bs-white);
}
.contacts > li > a {
  font-weight:normal;
  color:var(--white-50) !important;
}
.contacts > li > a:hover {
  color:var(--bs-white) !important;
}
.white-50 {
  color:var(--white-50);
}
/*Footer end*/