﻿@page
@model (string, string)
@{
<div class="p-0 col-12">
    <div class="col wide-text-overflow text-capitalize fw-bolder">
        <span class="text-black-50" style="font-size: .9rem;">@Html.DisplayFor(model => model.Item1):&nbsp;</span>
        <span>@Html.DisplayFor(model => model.Item2)</span>
    </div>
</div>
}
