﻿@model Model.Office.CarProduct
@*Real card size*@
<div class="car-card p-2 col-xl-3 col-md-6 col-xs-12">
    @*Inner padding*@
    <div class="col p-3 inner-card">
        <div class="row pb-3">

            @*Name column start*@
            <div class="col-9">
                <span class="sm-font fw-bold text-black-50 text-uppercase">@Html.DisplayFor(model => model.Subject.Mark)</span>
                <h5 class="card-title fw-bold text-capitalize">@Html.DisplayFor(model => model.Subject.Model)</h5>
            </div>
            @*Name column end*@

             @*More detailed button start*@
            <div class="col-3">
                <a class="float-end btn btn-search-danger" role="button" 
                asp-controller="Cars" asp-action="CarDetails" asp-route-model="@Html.DisplayTextFor(model => model.Subject.Model)" asp-route-mark="@Html.DisplayTextFor(model => model.Subject.Mark)">
                <i class="fa fa-search"></i></a>
            </div>
            @*More detailed button end*@

        </div>

        @*3x5* 1280x768 800x480*@
        <a asp-controller="Cars" asp-action="CarDetails" asp-route-model="@Html.DisplayTextFor(model => model.Subject.Model)" asp-route-mark="@Html.DisplayTextFor(model => model.Subject.Mark)">
            <div class="ratio" style="--bs-aspect-ratio: 60%;">
                    <img class="card-image" asp-byte-image="Model.Image" asp-fallback-src="@Url.Content("~/img/no-image-found.png")" alt="Car image" />
            </div>
        </a>

        
        @* Description block start*@
        <div class="row m-0 py-2">
        @{
            (string, string)[] descriptionRows =
            { 
                ("brand", Model.Subject.Mark),
                ("year", Model.Subject.Year.ToString()),
                ("body type", Model.Subject.Body.ToString())
            };

            foreach(var row in descriptionRows)
            {
                @await Html.PartialAsync("Partials/_DescriptionRow", row)
            }
        }
        </div>
        @*Description block end*@

        <div class="row px-1 py-2">
            <div class="col sm-font wide-text-overflow">
                <a class="link-danger text-uppercase fw-bold" asp-controller="Shops" asp-action="Index"><i class="fa fa-map-marker me-2"></i>@Html.DisplayTextFor(model => model.Subject.Mark) office</a>
            </div>
        </div>

        @*Buy product start*@
        <div class="row">
            <div class="col">
                @*Refactor margin and font size*@
                <span class="price-field m-0 fw-bold lg-font">
                    @Html.DisplayFor(model => model.Price)
                </span>
            </div>
            <div class="col d-grid">
                @using (Html.BeginForm("Add", "Cart", FormMethod.Post))
                {
                    <input asp-for="Count" value="1" hidden="true"/>
                    @Html.Hidden("Price", @Html.DisplayTextFor(model => model.Price))
                    @Html.Hidden("Model", @Html.DisplayTextFor(model => model.Subject.Model))
                    @Html.Hidden("Mark", @Html.DisplayTextFor(model => model.Subject.Mark))
                    <input type="submit" value="Buy" class="btn btn-danger fw-bold" style="width: 100%;" />
                }
            </div>
        </div>
        @*Buy product end*@
    </div>
</div>