﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - AutoShop</title>
<link rel="icon" type="image/x-icon" href="~/img/icons/favicon.ico">
<link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/font-awesome/css/all.css" />
<link rel="stylesheet" href="~/font-awesome/css/v4-shims.min.css" />
<link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.css" />
<link rel="stylesheet" href="~/css/site.css" />
