﻿<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Head")
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div>
        <section class="vh-100 gradient-custom">
            <div class="container py-2 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 0;">
                            <div class="card-body px-5 text-center">
                                <a class="display-5 logo-link text-white d-block form-logo" asp-controller="Home" asp-action="Index" style="text-decoration: none;">
                                    <span>Auto</span><span class="red-logo">shop</span>
                                </a>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/login.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
