﻿@using System.Security.Claims
@using Model.Application
@using Web.Models
<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Head")
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/user-layout.css" />
</head>
@functions
{
    public string GetUsername(string email)
    {
        return email.Substring(0, email.IndexOf('@'));
    }
}
<body class="d-flex flex-column">
    <div id="page-content">

        @*User navigation panel start*@
        <header class="layout-dark-color @ViewData["NavType"] role="banner">
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <div class="col-md-3 col row text-center text-lg-start">
                        <a class="navbar-logo m-0 logo-link" style="font-size: 1.6rem;" asp-controller="Home"><span>Auto</span><span class="red-logo">shop</span></a>
                        <button class="navbar-toggler collapsed float-end my-2 text-white p-2" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="#navbar-collapse" aria-expanded="false">
                            <i id="toggler-icon" class="fa fa-navicon"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">

                        @*Links part start*@
                        <div class="col-12 col-md-8 d-flex">
                            <ul class="navbar-nav m-auto pl-lg-5 pl-0 menu center justify-content-around" style="flex-grow: 1;">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Cars" asp-action="Index">Cars</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Shops" asp-action="Index">Shops</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="About" asp-action="Index">About</a>
                                </li>

                                @if (User.IsInRole(nameof(RoleName.Admin)))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
                                    </li>
                                }
                                @if (User.IsInRole(nameof(RoleName.User)))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white menu-link" asp-controller="Cart" asp-action="Index">
                                            <span class="cart-text">Cart</span><i class="ms-2 fa fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @*Links part end*@

                        @*User block start*@
                        <div class="col-12 col-md-4 text-center text-md-end pb-1">
                            <ul class="navbar-nav justify-content-end user-btn-container" style="flex-grow: 1;">
                                
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item login-button">
                                        <a class="nav-link " asp-controller="Account" asp-action="Login">Sign in <i class="mx-2 fa fa-sign-in-alt"></i></a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item d-block">
                                        <a id="user-btn" class="nav-link float-end">
                                            <p class="username-text wide-text-overflow">
                                            @GetUsername(User.FindFirst(ClaimTypes.Email)?.Value)
                                            </p>
                                        </a>
                                    </li>
                                     <li class="nav-item d-block">
                                        @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                                         {
                                            <button id="logout-btn" class="nav-link px-2" type="submit">
                                                    <span class="d-md-none">Logout</span><i class="ms-2 fa fa-sign-in-alt"></i>
                                            </button>
                                         }
                                    </li>
                                }

                            </ul>
                        </div>
                        @*User block end*@

                    </div>
                </div>
            </nav>
        </header>
        @*User navigation panel end*@

        @*Content block start*@
        <main class="p-0">
            @RenderBody()
        </main>
        @*Content block end*@

    </div>

    @*Footer start*@
    <footer class="pt-3 px-5 text-white layout-dark-color">
        <div class="container">
            <div class="row">

                @*Logo column start*@
                <div class="col-12 col-md-5 order-3 order-md-0 text-center text-md-start py-4 pt-md-0">
                    <div class="logo-part p-0">
                        <span class="logo-link lg-font"><span>Auto</span><span class="red-logo">shop</span></span>
                    </div>
                    <div class="white-50">
                        &copy; All rights reserved
                    </div>
                </div>
                @*Logo column end*@

                @*Socials column start*@
                <div class="col-12 col-md-4 pt-4 pt-md-0 text-center text-md-start ">
                    <span class="footer-header">Follow us</span>
                    <ul class="list-unstyled mb-1 pt-2 d-flex list-inline justify-content-center justify-content-md-start socials">
                        <li><a href="https://bitbucket.org/tumashst/arcde/"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="https://bitbucket.org/tumashst/arcde/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://bitbucket.org/tumashst/arcde/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                @*Socials column end*@

                @*Contacts column start*@
                <div class="col-12 col-md-3 py-4 pt-md-0 text-center text-md-start">
                    <span class="footer-header">Contact us</span>
                    <ul class="list-unstyled mb-1 pt-2 list-inline contacts">
                        <li><a><i class="fa fa-envelope me-2"></i>lpglobalteam@mail.ru</a></li>
                        <li><a><i class="fa fa-phone me-2"></i>+1 23 02 19 2022 </a></li>
                    </ul>
                </div>
                @*Contacts column end*@

            </div>
        </div>
    </footer>
    @*Footer end*@

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
