﻿@model Web.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Admin";
}

@section Styles {
    <link href="~/css/admin-styles.css" rel="stylesheet" />
}

<div id="edit-form-container">
</div>

<div id="add-form-container">
</div>

@foreach (var officeName in Model.Marks)
{
    <section class="container inner-card my-4 px-5 pb-4">
        <vc:admin-panel office-name="@officeName"></vc:admin-panel>
    </section>
}

@section Scripts {
    <script src="~/js/loadPartial.js"></script>
}